body{
  background-color: black;
  color: white;
}

.Todo-Container{
  width: 300px;
  align-items: center;
  margin:  auto;
  background-color: blueviolet;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}
.Todo-Container h1{

  text-align: center;
  color: rgb(6, 215, 243);
  font-size: 2rem;
  border-bottom: 2px solid rgb(6, 215, 243);
    width: 100px;
  margin:  auto;
  
}
.Todo-Iteam{
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid rgb(6, 34, 245);
  border-radius: 5px;
  background-color: rgb(6, 41, 58);
}
.Todo-Iteam p{
  font-size: 20px;
  color: rgb(217, 231, 233);
  align-items: center;
  justify-content: center;
}
.button{
  background-color: rgb(6, 215, 243);
  color: black;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;

}