@import "tailwindcss";

body{
  background-color: black;
  color: white;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  color: #f0f0f0;
  text-align: center;
  margin-top: 16%;
}

p{
  text-align: center;
}