body{
  background: #000;
  color: #fff;
}

.button {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 margin-left: 10px; 

}
.button:hover {
  background: #0056b3;
}

.post-card {
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}
.post-card g {
  color: #007bff;
}
